body{
    margin: 0px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 200px;
    text-align: center;
    border-bottom: pink solid 2px;
    border-right: pink solid 2px;
    box-shadow: slategrey 4px 5px 5px;
}

img {
    width: 420px;
    height: 400px;
    margin: 10px;
    transition: all 1s;
}
img:hover{
    transform: scale(1.1);
}